
# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=.......... # team: lostovayne, project: notion-clone-7002e
NEXT_PUBLIC_CONVEX_URL=https:.......

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=...........
CLERK_SECRET_KEY=......

# Edge Store
EDGE_STORE_ACCESS_KEY=
EDGE_STORE_SECRET_KEY=

# Create Wrangler.toml


main = ".worker-next/index.mjs"
name = "clone-notion"
compatibility_date = "2024-11-29"
compatibility_flags = ["nodejs_compat"]
assets = { directory = ".worker-next/assets", binding = "ASSETS" }
send_metrics = false
